:root {
    --theme-color: #00ff00;
    --theme-svg: invert(55%) sepia(52%) saturate(471%) hue-rotate(190deg) brightness(89%) contrast(91%);
}

body {
  background: #23272a;
  color:white;
}

a {
  color: white;
}

hr {
  color: white;
}

.toggle i {
  color: white;
}


.logo_svg {
  border-radius: 25px;
  border: 5px solid black;
  filter: invert(100%);
  padding: 20px;
  background: transparent;
}
.logo_svg:hover {
  filter: invert(100%);
}

/* 2 */
.social-buttons2 {
  display: inline-block;
  opacity: 0;
}
.social-buttons2 a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: black;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px 0;
}

.cbox {
  border-radius: 3vh;
  border: 2px solid var(--theme-color);
  padding: 2vh;
  text-align: center;
  width: 30vh;
  height: 15vh;
  margin: 4vh;
  max-width: 50vw;
}

.social-buttons2 a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, var(--theme-color), var(--theme-color));
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons2 a:hover::before {
  transform: scale(0);
}

.social-buttons2 a i {
  transition: 0.3s ease-in;
}

.social-buttons2 a:hover i {
  background: linear-gradient(45deg, var(--theme-color), var(--theme-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

.wave {
  display:inline-block;
  margin: 10px;
  border-radius: 60px;
  /* background-color:white; */
  background: transparent;
  color:white;
  border: 5px solid var(--theme-color);
  font-size: 1.8em;
  padding: 10px 20px;
  margin: 30px;
}

.wave a {
  color:white;
}

.bouncingball {
  width:3vw;
  height:3vw;
  border-radius:100%;
  background:var(--theme-color);
  animation: bounce linear 10s;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  position:relative;
  overflow: hidden;
  margin-left: 20vw;
}

.svg-color {
  filter: var(--theme-svg);
}

#bigl {
  filter: invert(100%);
}
