html,
body {
    overscroll-behavior-y: contain;
}

.toggle {
  bottom: 60px;
  right: 50px;
  position: fixed;
  font-size: 50px;

  animation: rotating 5s linear;
  animation-iteration-count: infinite;
}

@keyframes backgroundColorPalette {
  0% {
    color: #ee6055;
  }
  25% {
    color: #60d394;
  }
  50% {
    color: #aaf683;
  }
  75% {
    color: #ffd97d;
  }
  100% {
    color: #ff9b85;
  }
}

.toggle:hover {
  animation: backgroundColorPalette 10s infinite alternate, rotating 5s infinite linear;
}

@keyframes flameColor {
  0% {
    color: red;
  }
  50% {
    color: orange;
  }
  100% {
    color: yellow;
  }
}

.flame {
  animation: flameColor 2s infinite alternate;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}




#bottr {
  bottom: 15px;
  right:45px;
  position: fixed;
  font-size: 25px;
}

.banner {
  text-align:center;
  color: white;
  padding-top: 50px;
  }

.icon {
  font-size: 6vh;
}

.cbox {
  border-radius: 3vh;
  border: 2px solid black;
  padding: 2vh;
  text-align: center;
  width: 30vh;
  height: 15vh;
  margin: 4vh;
  max-width: 50vw;
}

.cbox:hover {
  background: linear-gradient(
          rgba(0, 0, 0, 0.05),
          rgba(0, 0, 0, 0.05)
        );
}

.cbox:hover #ic {
  animation: rotating 5s linear;
  animation-iteration-count: infinite;
}

.heart {
  font-size: 6vh;
}

.climate {
  font-size: 6vh;
  color: green;
}

.cbox:hover #climate {
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;
}

.cbox:hover #heart {
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;
  color: red;
}

.equ {
  font-size: 1.3vw;
}


a.fill-div {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.social-buttons {
  position: absolute;
  left: 1rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
}
.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px 0;
}

.social-buttons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, black, black);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
  transform: scale(0);
}

.social-buttons a i {
  transition: 0.3s ease-in;
}

.social-buttons a:hover i {
  background: linear-gradient(45deg, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
/* 2 */
.social-buttons2 {
  display: inline-block;
  opacity: 0;
}
.social-buttons2 a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px 0;
}

.social-buttons2 a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, black, black);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons2 a:hover::before {
  transform: scale(0);
}

.social-buttons2 a i {
  transition: 0.3s ease-in;
}

.social-buttons2 a:hover i {
  background: linear-gradient(45deg, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 40px;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
}

.logo_svg {
  border-radius: 25px;
  border: 5px solid black;
  padding: 20px;
  background: white;
}
.logo_svg:hover {
  filter: invert(100%);
}

a {
  color: black;
}

hr {
  color: black;
}


#particles-js {
    /* stay in a constant spot on the page, regardless of scroll */
    position: fixed;
    /* fill the entire page */
    width: 100%;
    height: 100%;
    /* remove the space along the edges */
    margin: 0;
    padding: 0;
    /* position it to start at the top of the page */
    top: 0;
    /* put it behind other content */
    z-index: -1;
}

.svg-white {
  filter: invert(100%) sepia(0%) saturate(1222%) hue-rotate(351deg) brightness(113%) contrast(106%);
}

.wave {
  display:inline-block;
  margin: 10px;
  border-radius: 60px;
  background-color:white;
  border: 5px solid black;
  color:black;
  font-size: 1.8em;
  padding: 10px 20px;
  margin: 30px;
}

.wave:hover {
  background: linear-gradient(
          rgba(0, 0, 0, 0.05),
          rgba(0, 0, 0, 0.05)
        );
}

.wave:hover i {
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;

}

.bouncingball {
  width:3vw;
  height:3vw;
  border-radius:100%;
  background:black;
  animation: bounce linear 10s;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  position:relative;
  overflow: hidden;
  margin-left: 18.5vw;
}

.wave a {
  color:black;
}


@keyframes bounce {
	0% {
	}
  1% {top: 0;
    -webkit-animation-timing-function: ease-in;}
	8% {}
	10% {top: 3.5vw;
		height: 3vw;
		-webkit-animation-timing-function: ease-out;
	}
	11% {top: 4vw; height: 2.5vw;
		-webkit-animation-timing-function: ease-in;}
	13% {top: 3vw; height: 3vw;
		-webkit-animation-timing-function: ease-out;}
	19% {
		top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	20% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
  /* SECOND TIME */
  28% {}
  30% {top: 3.5vw;
    height: 3vw;
    -webkit-animation-timing-function: ease-out;
  }
  31% {top: 4vw; height: 2.5vw;
    -webkit-animation-timing-function: ease-in;}
  33% {top: 3vw; height: 3vw;
    -webkit-animation-timing-function: ease-out;}
  39% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  40% {top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  /* THIRD TIME */
  48% {}
  50% {top: 3.5vw;
    height: 3vw;
    -webkit-animation-timing-function: ease-out;
  }
  51% {top: 4vw; height: 2.5vw;
    -webkit-animation-timing-function: ease-in;}
  53% {top: 3vw; height: 3vw;
    -webkit-animation-timing-function: ease-out;}
  59% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  60% {top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  /* FOURTH TIME */
  68% {}
  70% {top: 3.5vw;
    height: 3vw;
    -webkit-animation-timing-function: ease-out;
  }
  71% {top: 4vw; height: 2.5vw;
    -webkit-animation-timing-function: ease-in;}
  73% {top: 3vw; height: 3vw;
    -webkit-animation-timing-function: ease-out;}
  79% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  80% {top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  /* FIRTH TIME */
  88% {}
  90% {top: 3.5vw;
    height: 3vw;
    -webkit-animation-timing-function: ease-out;
  }
  91% {top: 4vw; height: 2.5vw;
    -webkit-animation-timing-function: ease-in;}
  93% {top: 3vw; height: 3vw;
    -webkit-animation-timing-function: ease-out;}
  99% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(60vw);
  }
}

/* ====================================================================== */
/* BANNER TEXT ANINATION */
/* ====================================================================== */


.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; */
  letter-spacing: 0.1em; /* Adjust as needed */
  /* animation:
    typing 10s steps(40, end),
    blink-caret .75s step-end alternate infinite; */

  animation:
    typing 10s linear alternate infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  line-height: normal;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
