---
title: index
layout: default
---
  {% include theme.html %}
  {% include banner.html %}
  {% include toggle-theme.html %}
  {% include easter_egg.html %}
  <script>
    $(document).ready(function() {
      $('#delay1').delay(800).fadeIn(600);
    });
  </script>
  <div id="easter_egg" style="text-align: center; justify-content: center">
  </div>
  <div style="height:0">
    <div class="bouncingball">
    </div>
    <div style="width: 60vw">
      <h1 class="typewriter" style="font-size: 2.3vw; margin-left: 20vw;"><i>Stay safe, and keep learning physics!</i></h1>
    </div>

  </div>

  <div class="container">

    <hr style="margin-top: 6.5vw;">

    <!-- main content -->
      <div class="row justify-content-around" id="delay1" style="display: none; ">
        {% for topic in site.data.topics %}
        <div class="col-2 cbox" style="cursor: pointer;" onclick="window.location='{{topic.link}}'+'?theme='+theme;return false;">
          {% if topic.name == "Contribute" %}
          <i class="{{topic.icon}} heart" id="heart"></i>
          {% else %}
          <i class="{{topic.icon}} icon" id="ic"></i>
          {% endif %}

            <h1 style="font-size: min(4.3vh, 8vw)">{{topic.name}}</h1>
        </div>
        {% endfor %}
      </div>

  </div>
