---
title: index
layout: default
---
  {% include theme.html %}
  {% include banner.html %}
  {% include toggle-theme.html %}
  {% include easter_egg.html %}
  <div id="easter_egg" style="text-align: center; justify-content: center">
  </div>
  <script>
    $(document).ready(function() {
      $('#delay1').delay(800).fadeIn(600);
    });
  </script>
  <div class="bouncingball">
  </div>
  <div class="container">
    <hr style="margin-top: 4vw;">

      <div class="row justify-content-around" id="delay1" style="display: none; margin-top: 100px;">
        {% for topic in site.data.topics %}
        <div class="col-2 cbox" style="cursor: pointer;" onclick="window.location='{{topic.link}}'+'?theme='+theme;return false;">
            <i class="{{topic.icon}} icon"></i>
            <h1>{{topic.name}}</h1>
        </div>
        {% endfor %}
      </div>

  </div>
