---
permalink: /waves/types/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Longitudinal and Transversal Waves Physics Simulations by Phisics</title>
    <meta name="description" content="Longitudinal and Transversal Waves Physics Simulations which visualizes the two most common types of waves
    in interactive simulations. It makes explaining wave concepts very easy, interactive, and intuitive! by Phisics.">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <meta charset="utf-8" />
<script src="https://kit.fontawesome.com/38cfdf5413.js" crossorigin="anonymous"></script>
{% include tracking.html %}

    {% include theme.html %}
  </head>
  <body>
    <div class="container-fluid" style="text-align: center;">
      {% include logo.html %}
      <div style="height: 300px;">

      </div>

      <div id="cnvs" style="display: block; margin: auto; width: 810px;border: black solid 5px;">
      </div>

      <br>
      <h1 style="">Longitudinal and Transversal Waves Simulation.</h1>
      <hr style="height:5px; opacity: 0.6">
      <br>
      <div class="row justify-content-center">
        <div class="col-3 my-auto">
          <h3>There are many types of waves, the two most common of which are longitudinal and transversal. They still follow the same formulaic models, but differ in the direction to which particles move.</h3>
        </div>
        <div class="col-3">
          <h2>Longitudinal</h2>
          <hr style="height:5px;">
          <h4>Particles move parralel to the direction of the energy. For example, sound waves travel like this by having speaker drums move back and forth.</h4>
        </div>
        <div class="col-3">
          <h2>Transversal</h2>
          <hr style="height:5px; ">
          <h4>Particles move perpendicular to the direction of the energy. For example, ocean waves and light waves move like this. Motion is applied perpendicular to the motion of the energy.</h4>
        </div>
      </div>

    </div>

    <div style="height: 70px;"></div>
    <script src="../types.js"></script>
  </body>
</html>
