<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
  var scrolled = false;

  $(document).ready(function(){

    if ($(this).scrollTop() > 10) {
      $(".logo_svg").hide();
      $("#line1").hide();
      $("#line2").hide();

      $("#first").css({
        position: "fixed",
        left: "1rem",
        top: "4rem",
        display: "flex",
        "flex-direction": "column",
      });

      $("#second").css({
        position: "fixed",
        right: "1rem",
        top: "4rem",
        display: "flex",
        "flex-direction": "column",
      });


      scrolled=true;


    }
    $(".social-buttons2").css("opacity", '1');
  });

  $(window).scroll(function(){
    var scrollPos = $(document).scrollTop();
    if (scrollPos > 10 && !scrolled) {
      $(".logo_svg").fadeOut(300);
      $("#line1").fadeOut(300);
      $("#line2").fadeOut(300);
      scrolled = true;
      $("#first").delay(250).queue(function(next) {
        $(this).css({
          position: "fixed",
          left: "1rem",
          top: "4rem",
          display: "flex",
          "flex-direction": "column",
        });
        next();
      });

      $("#second").delay(250).queue(function(next) {
        $(this).css({
          position: "fixed",
          right: "1rem",
          top: "4rem",
          display: "flex",
          "flex-direction": "column",
        });
        next();
      });
    } else if (scrollPos < 10 && scrolled) {
      $(".logo_svg").fadeIn();
      scrolled = false;
      $("#line1").fadeIn();
      $("#line2").fadeIn();
      $("#first").css({
        // color: "red"
        display: "inline-block",
        position: "",
        left: "",
        top: "",
        "flex-direction": "",
      });
      $("#second").css({
        // color: "red"
        position: "",
        right: "",
        top: "",
        display: "inline-block",
        "flex-direction": "",
      });
    }

    // ############# BUTTON ANIMATIONS #############

    // Buttons on the left side of the page

    $("#atom").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#atomh5").show(700);}
      },

      function () {
        $("#atomh5").hide(700);
      });

    $("#heart").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#hearth5").show(700);
      }},

      function () {
        $("#hearth5").hide(700);
    });

    $("#about").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#abouth5").show(700);
      }},

      function () {
        $("#abouth5").hide(700);
    });

    $("#formulas").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#formulash5").show(700);}
      },

      function () {
        $("#formulash5").hide(700);
    });


    // Buttons on the right side of the page

    $("#kinematics").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#kinematicsh5").show(700);
      }},

      function () {
        $("#kinematicsh5").hide(700);
      });

    $("#dynamics").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#dynamicsh5").show(700);
      }},

      function () {
        $("#dynamicsh5").hide(700);
      });

    $("#thermal").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#thermalh5").show(700);
      }},

      function () {
        $("#thermalh5").hide(700);
      });


    $("#waves").hover(
      function () {
        if(scrolled){
          stopAllAnims();
        $("#wavesh5").show(700);
      }},

      function () {
        $("#wavesh5").hide(700);
      });


  });

  function stopAllAnims() {
    $('#hearth5').finish()
    $('#abouth5').finish()
    $('#formulash5').finish()
    $('#kinematicsh5').finish()
    $('#dynamicsh5').finish()
    $('#thermalh5').finish()
    $('#wavesh5').finish()
  }
</script>


<div class="row justify-content-center" id="navbar" style="position: fixed; z-index:999; text-align: center">
  <div class="col-4 my-auto">
    <div class="social-buttons2" id="first">
      <a id="atom" href="/" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-atom"></i></a>
      <h5 id="atomh5" style="display: none;">Home</h5>

      <a id="heart" href="/contribute" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-heart"></i></a>
      <h5 id="hearth5" style="display: none;">Contribute</h5>


      <a id="about" href="/about-us" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-question"></i></a>
      <h5 id="abouth5" style="display: none;">About Us</h5>


      <a id="formulas" href="/formulas" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-square-root-alt"></i></a>
      <h5 id="formulash5" style="display: none;">Formulas</h5>

    </div>
    <hr id="line1" style="text-align:left; width: 100%; height: 5px; opacity: 1">
  </div>
    <div class="col-3 my-auto">
      <a href="/"><img id="logo" onclick="location.href='/?theme='+theme;return false;" src="/assets/logo.svg"style="margin-top: 50px; margin-bottom: 50px; text-align:center;" alt="Logo" width="100%" class="logo_svg"></a>
    </div>
    <div class="col-4 my-auto">
      <div class="social-buttons2" id="second">
        <a id="kinematics" href="/kinematics" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-basketball-ball"></i></a>
        <h5 id="kinematicsh5" style="display: none;">Kinematics</h5>

        <a id="dynamics" href="/dynamics" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-people-carry"></i></a>
        <h5 id="dynamicsh5" style="display: none;">Dynamics</h5>

        <a id="thermal" href="/thermal" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-fire"></i></a>
        <h5 id="thermalh5" style="display: none;">Thermal</h5>

        <a id="waves" href="/waves" onclick="location.href=this.href+'?theme='+theme;return false;"><i class="fas fa-wave-square"></i></a>
        <h5 id="wavesh5" style="display: none;">Waves</h5>

      </div>
      <hr id="line2" style="text-align:left; width: 100%; height: 5px; opacity: 1">
    </div>
</div>
