<!DOCTYPE html>
<html>
  <head>
    <title>Physics Simulations by Phisics</title>

    <meta name="description" content="Explore physics simulations ranging from kinematics to wave phenomena.
    Phisics provides dozens of these simulations for teachers to visualize key concepts and students to understand
    physics beyond a nasty formula. The content is tailored to IB Physics HL and high school physics.">

    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="css/default.css">

    <script src="https://kit.fontawesome.com/38cfdf5413.js" crossorigin="anonymous"></script>

    <!-- js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="js/particles.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101317900);</script>
    <script async src="//static.getclicky.com/js"></script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101317900ns.gif" /></p></noscript>


  </head>
  <body>
    <div id="particles-js">
    </div>
    {{ content }}


    <script src=
        "js/particles.js">
    </script>
    <script>
      var theme = location.search.split('theme=')[1] ? location.search.split('theme=')[1] : '0';

      if ((Number(theme) <= 3 && Number(theme) >= 0) || theme == "5")
        document.write('<script src="/js/dark.js"><\/script>');
      else
        document.write('<script src="/js/app.js"><\/script>');
    </script>

  </body>
</html>
