<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coming soon!</title>
        {% include tracking.html %}
    <link rel="stylesheet" href="../../css/default.css">
        {% include theme.html %}
  </head>
  <body>
    <div style="margin-top: 20%; text-align: center;">
      <a href="/" class="fas fa-user-ninja" onclick="location.href=this.href+'?theme='+theme;return false;" style="font-size: 150px; text-decoration: none"></a>
      <h1>Oh no, you caught me while I was asleep! Time to finish making this page... come back soon :)</h1>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/38cfdf5413.js" crossorigin="anonymous"></script>
</html>
